# Universal Commerce Protocol (UCP) Codeowners
# Default for all files (meeting notes).
*  @Universal-Commerce-Protocol/tech-council

# Infrastructure & Tooling
/.github/                 @Universal-Commerce-Protocol/devops-maintainers

# Governance
/.github/CODEOWNERS      @Universal-Commerce-Protocol/governance-council
/CODE_OF_CONDUCT.md       @Universal-Commerce-Protocol/governance-council
/SECURITY.md              @Universal-Commerce-Protocol/governance-council
